
@media (max-width:768px){
    html{
    overflow-x: hidden;
}
.menu-bar {
    color: #fff;
    font-size: 20px;
}
   .dask-view{
    display: none !important;
}
.mob-view{
    display: block !important;
} 
.banner-item .mob-view {
    height: 100vh;
    object-fit: cover;
}
.mobile-bar{
    display: flex;
}
.header-sec .container {
    max-width: 100%;
}
.mobile-bar .theme-btn {
    padding: 10px 10px;
    font-size: 10px;
}
.banner0content h1 {
    font-size: 40px;
}
.banner0content p {
    width: 100%;
    font-size: 14px;
}
.banner-form ul {
    flex-direction: column;
    padding: 10px;
}
.banner-form ul li {
    width: 100%;
}
.banner-form ul li input {
    border-bottom: 1px solid #fff !important;
}
.banner-form ul li:last-child{
    margin-top: 15px;
}
.banner-form ul li::after{
    display: none;
}
.banner-area .owl-dots {
    bottom: 5%;
}
.section-padding {
    padding: 50px 0;
}
.complete0heading h1 {
    font-size: 30px;
    line-height: 35px !important;
}
.complete0heading p {
    width: 100%;
}
.complete-listing ul {
    margin-top: 30px;
}
.container {
    max-width: 90%;
}
.pt-location-map {
    position: relative;
}
.map-sec .row {
    flex-direction: column-reverse;
}
.map0heading h1 {
    font-size: 30px;
    line-height: 35px;
}
.map-btn .theme-btn {
    font-size: 14px;
    gap: 15px !important;
}
.full0sliderhheading h1 {
    font-size: 30px;
    line-height: 35px;
}
.full0sliderhheading p {
    width: 100%;
}
.viewplace-item {
    flex-direction: column-reverse;
}
.viewplace-item {
    gap: 30px;
}
.viewplace0content h1 {
    font-size: 30px;
    line-height: 35px;
}
.viewplace0content {
    width: auto;
    text-align: center;
}
.viewplace0content .line-drow {
    width: 80px;
    margin: 0 auto;
}
.swiper-button-next {
    top: auto;
    bottom: 0;
}
.swiper-button-prev {
    top: auto;
    bottom: 0;
}
.viewplace0content p {
    padding-bottom: 70px;
}
.specification-sec h1 {
    font-size: 30px;
    line-height: 35px;
}
.spe-item {
    padding: 18px;
    gap: 15px;
}
.specification-sec{
    padding-bottom: 100px;
}
.apper-sec .row{
    flex-direction: column-reverse;
}
.fllore-imgs{
    margin-bottom: 30px;
}
.contactus-area h1 {
    font-size: 30px;
    line-height: 35px;
}
.contact-form .theme-btn {
    width: 100%;
    gap: 20px !important;
    font-size: 14px;
}
.footer-btnarea {
    flex-direction: column;
    align-items: start;
}
.footer-heading {
    margin-top: 30px;
}
.lorem-p {
    width: 100%;
}
.copyright {
    padding: 30px 0 120px;
    text-align: left;
}
.banner-form-fixed.banner-form ul li:last-child {
    margin-top: 0;
}
.footer-btnarea .theme-btn {
    width: 100%;
}
.bnenquery-popup {
    width: 300px;
}
}

@media (max-width: 768px){
.nav-bar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: var(--pdcolor);
    z-index: 9;
    flex-direction: column;
    align-items: start;
    padding: 50px 30px 30px;
    transition: all 400ms cubic-bezier(.25, .46, .45, .94);
    opacity: 0;
}
.nav-bar-open {
    opacity: 1;
    right: 0;
    transition: all 400ms cubic-bezier(.25, .46, .45, .94);
}
.nav-bar li:last-child{
    display: none;
}
.nav-bar li::after{
    display: none;
}
.nav-bar li a {
    font-size: 20px;
}
.menu-close{
    display: block;
}
}