@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", serif;
    font-size: 16px;
}
body{
    overflow-x: hidden;
}
p{
    line-height: 30px;
}
.sectionpadding{
    padding: 90px 0;
}
.padding-top{
    padding-top: 90px;
}
.padding-bottom{
    padding-bottom: 90px;
}
.sectionhalf{
    padding: 50px 0;
}
.sectionhalftop{
    padding-top: 50px;
}

:root{
    --ftcolor: #3195B7;
    --sdcolor: #D04938;
}

.lande-rea .conainer-fluid{
    padding: 0;
}
.lande-rea .container-fluid .col-lg-6{
    padding: 0;
}

.landing-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 30px 70px;
    text-align: center;
    background: #f9f9f9;
}
.lande-rea {
    background: #f9f9f9;
    border-bottom: 1px solid #ebebeb;
}
.logo img {
    width: 300px;
    margin-bottom: 50px;
}
.landing-content h1 {
    color: var(--sdcolor);
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 30px;
}
.landing-content p {
    font-size: 14px;
    line-height: 25px;
}
.landing-content h5 {
    margin: 10px 0 20px;
    color: #000;
}
.ladings-slider{
    position: relative;
}
.ladings-slider .owl-dots {
    position: absolute;
    bottom: 180px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
.ladings-slider .owl-dot span{
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    display: block;
}
.ladings-slider .owl-dot.active span{
    background: var(--sdcolor);
}
.section-heading h5 {
    color: #000;
    font-weight: 400;
}
.form-group{
    margin-bottom: 2.5rem;
}
.form-control {
    text-align: center;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
}
.form-control:focus{
   box-shadow: none;
   border-color: #ddd; 
}
.form-control::placeholder{
    color: #ddd;
}
.right-btn a {
    float: right;
}
.theme-btn {
    display: inline-block;
    padding: 10px 25px;
    background: var(--sdcolor);
    color: #fff;
    text-decoration: none;
    border-radius: 44px;
    font-weight: 400;
    border: 1px solid var(--sdcolor);
    transition: 0.5s;
}
.theme-btn:hover {
    background: transparent;
    color: var(--sdcolor);
    transition: 0.5s;
}
.theme-btn span {
    margin-right: 10px;
}
.copy-p {
    font-size: 13px;
    margin: 0;
    color: #b1b1b1;
    text-align: right;
}
.copy-p strong {
    color: var(--ftcolor);
}
.copy-p a {
    text-decoration: none;
    color: var(--sdcolor);
}
.last-p{
    text-align: left;
}
.copyright{
    border-top: 1px solid #ddd;
    padding: 35px 0;
}

.owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    width: 40px !important;
    height: 40px !important;
    background: #ffffffd1 !important;
    border-radius: 50%;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 58px !important;
}

.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: 40px !important;
    height: 40px !important;
    background: #ffffffd1 !important;
    border-radius: 50%;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 58px !important;
}
.mu-play {
    position: absolute;
    bottom: 15px;
    z-index: 99;
    right: 10px;
    border: none;
    background: #ffffffd1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.mob-logo {
    display: none;
}
.mob-logo img {
    width: 60%;
}
.slider-item {
    border: 5px solid #f9f9f9;
}
.mu-play img {
    width: 30px !important;
    display: table;
    margin: 0 auto;
}
@media (max-width: 991px){
    #html_element {
    margin: 0 auto 30px;
    display: table;
}
.right-btn a {
    float: none;
    margin: auto;
    display: table;
}
.copy-p {
    text-align: center !important;
}
.landing-content {
    padding: 30px 40px;
}
.logo {
    display: none;
}
.landing-content h1 {
    margin-top: 30px;
}
.mob-logo {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ladings-slider .owl-dots {
    bottom: 220px;
}
.mu-play {
    width: 35px;
    height: 35px;
}
.mu-play img {
    width: 25px !important;
}
}